[package]
name = "rust-template"
version = "0.0.1"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]

[dev-dependencies]
rstest = "0"

[package.metadata.docs.rs]
all-features = true
# enable features in the documentation
rustdoc-args = ["--cfg", "docsrs"]
