name: cron
permissions:
  contents: read
  pull-requests: read

on:
  schedule: [cron: "20 */5 * * *"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: make test

    - name: Run tests with --release
      run: make test_release
